@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
// fonts

$main-font: "Montserrat", sans-serif;

// colors

$white-color: #fff;
$black-color: #000;
$yellow-color: #ffbe1f;
$border-color: #e3e8ea;
$link-color: #798998;
$blue-color: #2a8be7;
$red-color: #f44;
$text-color: #24272c;
$grey-color: #F2F4F5;
$btn-hover-color:#FFD671;
$button-color: #F4F6F7;
$green-color:#39b980;